# Topic : List Comprehension Problems

# 23-09-2020      Wednesday

# 1. Write a program to print numbers from 1 to 100 but replace multiples of with the word &#39;cat&#39;

In [1]:
li=[i if i%3!=0 else "cat" for i in range(1,101)]
print(li,end="")

[1, 2, 'cat', 4, 5, 'cat', 7, 8, 'cat', 10, 11, 'cat', 13, 14, 'cat', 16, 17, 'cat', 19, 20, 'cat', 22, 23, 'cat', 25, 26, 'cat', 28, 29, 'cat', 31, 32, 'cat', 34, 35, 'cat', 37, 38, 'cat', 40, 41, 'cat', 43, 44, 'cat', 46, 47, 'cat', 49, 50, 'cat', 52, 53, 'cat', 55, 56, 'cat', 58, 59, 'cat', 61, 62, 'cat', 64, 65, 'cat', 67, 68, 'cat', 70, 71, 'cat', 73, 74, 'cat', 76, 77, 'cat', 79, 80, 'cat', 82, 83, 'cat', 85, 86, 'cat', 88, 89, 'cat', 91, 92, 'cat', 94, 95, 'cat', 97, 98, 'cat', 100]

# 2. Create a dictionary with a number as key and its double as the value , for numbers from 10 to 20

In [2]:
di={i:i**2 for i in range(10,21)}
di

{10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

# 3. Use list comprehension to convert a string in uppercase to lower case.word]=&#39;HELLO&#39;

In [3]:
w=input()
print("".join(w.lower() for w in w))

HellO
hello

# 4. Print list of numbers divisible by 3 but not by 7 in the range 2100 and 2500

In [4]:
li=[x for x in range(2100,2500) if x%3==0 and x%7!=0 ]
print(li,end='')

[2103, 2106, 2109, 2112, 2115, 2118, 2124, 2127, 2130, 2133, 2136, 2139, 2145, 2148, 2151, 2154, 2157, 2160, 2166, 2169, 2172, 2175, 2178, 2181, 2187, 2190, 2193, 2196, 2199, 2202, 2208, 2211, 2214, 2217, 2220, 2223, 2229, 2232, 2235, 2238, 2241, 2244, 2250, 2253, 2256, 2259, 2262, 2265, 2271, 2274, 2277, 2280, 2283, 2286, 2292, 2295, 2298, 2301, 2304, 2307, 2313, 2316, 2319, 2322, 2325, 2328, 2334, 2337, 2340, 2343, 2346, 2349, 2355, 2358, 2361, 2364, 2367, 2370, 2376, 2379, 2382, 2385, 2388, 2391, 2397, 2400, 2403, 2406, 2409, 2412, 2418, 2421, 2424, 2427, 2430, 2433, 2439, 2442, 2445, 2448, 2451, 2454, 2460, 2463, 2466, 2469, 2472, 2475, 2481, 2484, 2487, 2490, 2493, 2496]

# 5. Given a list of numbers convert them into comma separated single string.

In [5]:
lst=[1,2,3,5,4,8,8,9,10]
stri=[str(x) for x in lst]
s=",".join(stri)
print(type(lst))
print(s)
print(type(s))

<class 'list'>
1,2,3,5,4,8,8,9,10
<class 'str'>

# 6. Count the number of spaces in a string
Solution:

In [6]:
s="Hello this is Python Code,I Love Python"
space=[x for x in s if x==" "]
len(space)

6

# 7.Remove all vowels of a string
Solution:

In [7]:
n="Hello World"
print("".join(x for x in n if x not in "AEIOUaeiou "))#space is included intentionally,so that space in the string is also not printed

HllWrld

# 8. Remove all words in list of strings which 3 or less characters

In [8]:
n="Today is the tommorrow ,which you imagined yestetday"
l=n.split()
print(l)
print(type(l))
print("".join([x for x in l if len(x)>3]))

['Today', 'is', 'the', 'tommorrow', ',which', 'you', 'imagined', 'yestetday']
<class 'list'>
Todaytommorrow,whichimaginedyestetday

# 9. A list of all the capital letters (and not white space) in &#39;The Quick Brown Fox Jumped Over The Lazy Dog&#39;

In [9]:
s='The Quick Brown Fox jumped over The Lazy Dog'
x=[x[0] for x in s.split() if x[0].isupper()]
x

['T', 'Q', 'B', 'F', 'T', 'L', 'D']


# 10. Count the number of spaces in a string

In [10]:
s='The Quick Brown Fox jumped over The Lazy Dog'
print(len([x for x in s if x==" "]))

8

# 11. Replace all vowels in a string with &#39;*&#39;

In [14]:
s="Stay Humble,Stay Foolish"
print(''.join([x if x not in "AEIOUaeiou" else "*" for x in s]))

St*y H*mbl*,St*y F**l*sh